#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

#header {
    background: none;
    font-family: tapestry;
}

#search {
    display: block;
    align-items: center;
    float: left;
    justify-content: left;
    margin-top: 40%;
    /* margin-left: 30%; */
}
