#myVideo {
    position: fixed;
    right: 0;
    bottom: 0;
    min-width: 100%;
    min-height: 100%;
    z-index: -1;
}

header {
    background: none;
    font-family: tapestry;
        text-shadow: .3rem .1rem .2rem rgba(0, 0, 0, 0.534);
}
h1 {
        font-size: 6rem;
        font-variant: small-caps;

}

#search {
    display: block;
    align-items: center;
    float: left;
    justify-content: left;
    background: none;
} 

.card {
    background-color: rgba(231, 210, 89, 0.459);
}

.hide {
    display: none;
}

.card-body {
    background-color: rgba(40, 71, 92, 0.767);
    color: white;
}

.list-group-item {
    background-color: rgba(40, 71, 92, 0.767);
    color: white;
}

.card-link {
    color: antiquewhite;
}

.card-link:hover {
    color: brown;
}

#searchButton:hover {
    background-color: rgb(129, 238, 255);
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    transition-duration: 1000ms;
}

.card:hover {
    -ms-transform: scale(1.1);
    -webkit-transform: scale(1.1);
    transform: scale(1.1); 
    transition-duration: 500ms;
}

.btn-info:hover {
    color: cyan;
}

.alert-dark {
    background-color: rgba(58, 103, 133, 0.767);
    font-family: tapestry;
    font-size: 2rem;
    color: white;
}

.cityRow {
    font-size: 3rem;
}